@model eBidder.Models.AuctionListViewModel
<h2 style="text-align: center">@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("PlaceBid", "Auction", FormMethod.Post))
{
    @Html.EditorFor(m => m.ViewModels) <br />
}

<span style="color: red">@ViewBag.ErrorMessage</span>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}