@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: white">
    <h1>Welcome to eBidder</h1>
    <p class="lead">eBidder is sample application created by Zuhlke Engineering for educational purposes.</p>
    <p><a href="http://www.zuehlke.rs" class="btn btn-primary btn-lg" style="background-color: mediumpurple">Learn more about Zuhlke &raquo;</a></p>
</div>